* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}


body {
    overflow: auto;
    background-color: #081b29;
   
}
section{
    color: #fff;
}

.head {
    width: 100%; /* or max-width: 95%; */
    margin: 0 auto;
    padding: 0 20px;
}

.header-1 {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* background: #1e1e1e; */
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    
    
}

.logo .logo-text {
    font-size: 34px;
    font-weight: 500;
    color: #fff;
}



nav.nav {
    list-style-type: none;
    font-size: 26px;
}

nav .New .menu-icon,
nav .New .close-icon {
    font-size: 24px;
    color: #007ced;
    display: none;

}

nav .New.show .menu-icon {
    display: none;
}

nav .New.show .close-icon {
    display: block;
}

nav .nav.open {
    display: block;
    /* Show when 'open' class is added */
    position: absolute;
    top: 110px;
    right: 0;
    /* Adjust to align with the right side */
    width: 40%;
    /* Full width on small screens */
    height: 300px;
    /* Full height */
    background-color: #081b29;
    z-index: 3;
    box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
    padding: 25px 0;
}
nav .nav {
    transition: transform 0.3s ease;
}
nav .nav.open {
    transform: translateX(0); /* Already open */
}






nav .nav li {
    display: inline-block;
    font-size: 1.5rem;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

nav .nav li a {
    color: #e5e5e5;
    margin-right: 2.5rem;

}

nav .nav li a:hover {
    color: #0ef;
    transform: scale(1.1);
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
       

}

.hero-pic {
    border-radius: 50%;

    background: linear-gradient(135deg, #00eaff, #7f00ff);
    
}

.hero-pic img {

    border-radius: 50%;
    box-shadow: 0 0 5px rgb(241, 135, 245), 0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.hero-pic:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 12rem;
}

.container .hero-pic {
    overflow: hidden;
    border: 15px solid #444;
    width: 350px;
    height: 350px;
    margin-top: -120px;

    /* box-shadow: 5px 7px 25px rgba(0,0, 0, 0.5); */
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.3);
}

.home-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: -20px;

}

.home-content h5 {
    color: #e5e5e5;
    font-size: 20px;

}

.home-content h5 span {
    color: #0ef;
    font-size: 26px;
}

.home-content h1 {
    color: rgb(17, 194, 207);
    font-size: 2rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

.home-content p {
    color: #e5e5e5;
    font-size: 20px;
    
}

.btn-group {
    margin: 45px 0;
}

.btn-box {
    border-color: #d5d5d5;
    color: #081b29;
    background-color: #0ef;
    border-radius: 40px;
    padding: 12px 25px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef 00 25px #0ef;
    transition: .5s ease;
    margin-top: -20px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 100px cyan,
        0 0 200px cyan;
    transform: scale(1.2);
}

.home-content .home-sci i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
   
}

.home-content .home-sci i:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
    transform: rotate(360deg);
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
} 



@media(max-width:930px) {
    nav.New {
        display: initial;
    }


    nav .New .menu-icon {
        display: inline;
    }

    nav .nav {
        display: none;
       
    }

    nav .nav.open {
        display: block;
    }


   
    .open .close-icon {
        display: inline;
    }

    nav .nav {
        position: absolute;
        top: 110px;
        right: -100px;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0.1, );
        transition: 0, 5s;
        padding: 25px 0px;
    }

    nav .nav li {
        display: block;
    }

    nav .nav li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }


}

@media(max-width:768px) {
    .container {
        flex-direction: column;
        padding-top: 5.8rem;
    }

    .home-content {
        padding: 40px 0;
    }

}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;

}


.about-img img{
    border: 15px solid #444;
    width: 300px;
    height: 300px;
    margin-left: 150px;
    border-radius: 50%;
    transition: 0.5s;
    border-color: #081b29;
}
.about-img img:hover{
    box-shadow: 0 0 5px rgb(241, 135, 245), 0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.about-text{
    color: #fff;
    margin-right: 50px;
}
.about-text h1{
    font-size: 60px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
   
}
.about-text h1 span{
    opacity: 0;
    animation: slideLeft 1s ease forwards;
     
}
.about-text h1 span{
    color: #0ef;
}
.about-text p {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.about-text h4{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.7;
    margin: 15px 0 30px;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.server{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7;
}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div p {
    font-size: 15px;
}
.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.services-list div:hover{
    transform: scale(1.1);
}
section{
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.container2{
    width: 600px;
    height: 500px;
    padding: 115px 140px;
    margin-left: auto;
    margin-top: -540px;
}
.heading2{
    /* text-align: center; */
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}    
.bar{
    font-size: 23px;
}
.Technical-bars .bar {
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars {
    width: 100%;
    padding: 20px 0;
}

.Technical-bars .bar {
    margin: 20px 0;
}

.Technical-bars .bar .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #e5e5e5;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform-origin: left;
    font-size: 20px;

}

.Technical-bars .bar .progress-line span {
    display: block;
    height: 100%;
    background-color: #0ef;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0, 1) forwards;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 81%;
}

.progress-line.Javascript span {
    width: 85%;
}

.progress-line.php span {
    width: 65%;
}

.progress-line.laravel span {
    width: 65%;
}

.progress-line.react span {
    width: 79%;
}

.progress-line.node span {
    width: 80%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: shoeText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content: 90%;
}
.progress-line.css span::after{
    content: 81%;
}
.progress-line.Javacsript span::after{
    content: 85%;
}
.progress-line.php span::after{
    content: 65%;
}
.progress-line.laravel span::after{
    content: 65%;
}
.progress-line.react span::after{
    content: 79%;
}
.progress-line.node span::after{
    content: 80%;
}
.progress-line span::before{
    content:"" ;
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}
@keyframes showText{
    100%{
        opacity: 1;
    }
}

.radial-bars {
    position: relative;
    width: 140px;
    height: 140px;
    justify-content: center;
    margin-top: 20px;
    
}

.path {
    fill: none;
    stroke: #0ef; /* Default color */
    stroke-width: 10;
    stroke-dasharray: 282; /* Circumference */
    stroke-dashoffset: 282; /* Start hidden */
    transition: stroke-dashoffset 1s ease-in-out; /* Smooth animation */
}

.percentage {
   
    top: 50%;
    left: 50%;
    transform: translate(25%, -120px);
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    
}

.text {
    
    margin-top:-70px; /* Adjust as needed */
    font-size: 14px; /* Font size for skill name */
    color: #fff;
    margin-left: 100px;
} 

.main-text{
    padding-top: 13px;
    margin-top: 410px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span{
    color: #0ef;
}
.project-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 90px;
    
    
}
.row img{
    width: 400px;
    height: 350px;
    display: block;
    transition: transform 0.5s;
    transform: translate(125px);
    border-radius: 20px ;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    line-height: 1.8;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.row:hover .layer{
    height: 100%;
    width: 500px;
    margin-left: 100px;
}
.layer .btn-box{
    margin-top: 30px;
    background-color: #000;
    color: #fff;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
    color: #fff;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(220, 228, 228);
    font-size: 20px;
    font-weight: 30px;
    margin-bottom: 2rem;
}
.contact-text p{
    color: rgb(163, 163, 163);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
    color: #fff;
}
.contact-list li {
    margin-bottom: 10px;
    display: block;
}
.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
}
.contact-list li a:hover{
    color: #0ef;
}
.contact-icon i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.contact-icon i:hover{
    background-color: #0ef;
    color: #000000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form form input,
form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

    
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef ;
}
.contact-form form .send:hover{
    box-shadow:  0 0 5px cyan, 0 0 25px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.last-text{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: rgb(7, 85,91);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #000000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}










@keyframes animate {
    from {
        width: 0;
    }
    to {
        width:90;
    }
}






@media screen and (max-width: 1400px) {
    .about-text {
        flex-wrap: wrap;
    }

}




@media screen and (max-width: 768px) {
  
    .nav {
        display: none; 
        flex-direction: column; 
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;
    }

    .nav.open {
        display: flex; 
    }

    .header-1 .container {
        flex-direction: column; 
        text-align: center;
    }

    .hero-pic img {
        max-width: 100%;
        height: auto;
    }

   
    .home-sci {
        display: inline;
        flex-direction: column;
      
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-img img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .about-text h1 {
        font-size: 40px;
    }

    .about-text h4 {
        font-size: 28px;
    }

    .about-text p {
        font-size: 15px;
        padding: 0 1.5rem;
    }

    .btn-box {
        font-size: 14px;
        padding: 10px 20px;
    }
    .container1{
        height: auto;
        width: auto;
    }
    .container2{
        height: auto;
        margin-top: -150px;
        margin-right: 20px;
        font-size: 20px;
    }
    .row img{
      
        height: 350px;
        width: 350px;
    }
    .contact{
        display: block;
    }
    .contact-text h2{
        font-size: 50px;
    }
    .contact-text h4 {
        font-size: 50px;
    }
    .contact-text p{
        font-size: 17px;
    }
    .contact-list li{
        font-size: 17px;
    }
    .contact-icon i{
        width: 30px;
        height: 30px;
        align-items: center;
    }
    .contact{
        flex-direction: column;
        padding-top: 2rem;
    }
    .contact-text h2{
        margin-top: -40px;
        margin-left: 60px;
    }
    .main-text{
        margin-top: -70px;
    }
   
    



   
   

  
   
   
   
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
   
    .about {
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 2rem;
        text-align: center;
        margin-top: -200px;
    }
    .logo-text{
        margin-left: 100px;
    }
    .New{
        margin-right: 170px;
    }

    .about-img img {
        width: 300px;
        height: 300px;
    }

    .about-text {
        margin: 0;
        padding: 0 1rem;
    }

    .about-text h1 {
        font-size: 48px;
    }

    .about-text h4 {
        font-size: 30px;
    }

    .about-text p {
        font-size: 18px;
    }

    .btn-box {
        font-size: 15px;
        padding: 10px 20px;
    }
    .row img{
        height: 100%;
        width: 100%;
       
    }
    .contact-text h2{
        font-size: 40px;
    }
    
    
}



@media (min-width: 769px) and (max-width: 1024px) {
    
    .nav {
        display: flex;
    }

    .header-1 .container {
        flex-direction: row;
        text-align: left;
    }
    .container1, .container2{
        flex-direction: row;
        text-align: center;
    }
    .row img{
        margin-right: 200px;
        height: 100%;
        width: 100%;
    }
    .container2{
        margin-top: 80px;
    }
}